html {
  background-color: lightgoldenrodyellow;
}

html,
body,
header,
footer {
  padding: 0;
  margin: 0;
}

h1,
header img {
  background-color: inherit;
}

main {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
  overflow: hidden;
}

header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: goldenrod;
  overflow: hidden;
}

button {
  cursor: pointer;
}

img {
  width: auto;
  height: 100%;
}

#student_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.images_wrap {
  padding-top: 10px;
  display: flex;
  gap: 2%;
}

.images_wrap img {
  width: 20%;
  background-color: transparent;
}

.wrapper {
  display: flex;
  gap: 2%;
}

.wrapper_login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  padding-bottom: 30px;
}

.login_box {
  border: solid 1px black;
  padding: 20px;
  width: 40vw;
}

.login_box div {
  padding-bottom: 20px;
}

.student_image {
  border: 6px double goldenrod;
  padding: 3px;
}

.crest_h3 {
  display: flex;
  align-items: center;
}

.crest_h3 h3 {
  margin: 0;
}

.single_student {
  border: 4px solid goldenrod;
  padding: 0 0 20px 20px;
  width: 45ch;
  cursor: pointer;
}

.single_student div {
  box-sizing: content-box;
}

h2 {
  color: brown;
}

#student_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-details-content {
  background-color: lightgoldenrodyellow;
  border: 10px double goldenrod;
  padding: 30px;
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 50ch;
  display: flex;
  flex-direction: column;
}

#login_page {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_window {
  background-color: lightgoldenrodyellow;
  border: 10px double goldenrod;
  padding: 30px;
  position: fixed;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.student-details-content h4 {
  font-size: 1.5rem;
}

.primary {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.secondary > div:nth-child(2) {
  display: flex;
}
.secondary > div:nth-child(2) img {
  width: 20%;
}

.student-details-content img {
  background-color: transparent;
}

.house_crest {
  height: 20%;
}

.close {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
}

#section_1 {
  border-right: solid 2px goldenrod;
  padding-right: 10px;
}

#section_3 {
  border-left: solid 2px goldenrod;
  padding-left: 10px;
}

#section_3 img {
  width: 25%;
}

.count_crest {
  padding-right: 10px;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
  color: goldenrod;
  margin-top: 60px;
  height: 30vh;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

footer h2 {
  background-color: transparent;
  color: goldenrod;
}

footer img {
  background-color: transparent;
  height: 60%;
}

.arrow_up {
  font-size: 5rem;
  background-color: transparent;
  width: 4ch;
  display: flex;
  justify-content: right;
}

footer div {
  width: 20ch;
}

.secret {
  color: transparent;
}

.secret:hover {
  color: goldenrod;
}

#section_1 button {
  margin-left: 5px;
  margin-bottom: 5px;
}

footer a {
  color: goldenrod;
  text-decoration: none;
}
